#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;          
  z-index: 999;
}

.NavBar ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.NavBar ul li a {
  padding: 1em;
  color: inherit;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
}

.NavBar ul li a.active {
  font-weight: bold;
}

button {
  padding: 1em;
  color: inherit;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  margin-top: .5em;
}

/* did some research into why the button had a white outline, turns out i need to remove the 
focus that most browsers automatically apply to buttons*/
button:focus,
button:active,
button:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

/* the text in the button didnt look centered to me, so I slightly adjusted it */
.toggletext {
  position: relative;
  top: -1px;
}
