#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;          
  z-index: 999;
}

.NavBar ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.NavBar ul li a {
  padding: 1em;
  color: inherit;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
}

.NavBar ul li a.active {
  font-weight: bold;
}

button:focus,
button:active,
button:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

/*testing why the button has an active outline